<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Book Shelf</title>
    <style>
        #root_container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books{
            width: 50%;
            border-collapse: collapse;
        }

        table{
            margin: 25px;
        }
        th{
            text-align: left;
        }
        th,td{
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <div id="root_container">

    <form method="post" th:action="@{/books/save}" th:object="${book}">
        <table>
            <tr>
                <td>
                <input type="text" placeholder="author" th:field="*{author}">
                </td>
                <td>
                <input type="text" placeholder="title" th:field="*{title}">
                </td>
                <td>
                    <input type="text" placeholder="size(pages)" th:field="*{size}">
                    <p th:if="${#fields.hasErrors()}"> field value must be digit and less than 5 signs</p>
                </td>
                <td>
                <input type="submit" value="save">
                </td>
            </tr>
        </table>
    </form>

    <form  method="post" th:action="@{/books/remove/id}" th:object="${bookIdToRemove}">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="book's id"  th:field="*{id}">
                    </td>
                    <td>
                        <input type="submit" value="remove">
                    </td>
                    <td th:if="${#fields.hasErrors()}">
                        <p> Wrong id or not found</p>
                    </td>
                </tr>
            </table>
    </form>


    <form method="post" th:action="@{/books/remove}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="books' author" th:name="bookAuthor">
                </td>
                <td>
                    <input type="text" placeholder="books' title" th:name="bookTitle">
                </td>
                <td>
                    <input type="text" placeholder="books' size" th:name="bookSize">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
            </tr>
        </table>
    </form>

        <hr>
        <form method="post" th:action="@{/books/search}">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="author" th:name="searchAuthor">
                    </td>
                    <td>
                        <input type="text" placeholder="title" th:name="searchTitle">
                    </td>
                    <td>
                        <input type="submit" value="search">
                    </td>
                </tr>
            </table>
        </form>

        <table id="books">
            <tr>
                <th>id</th>
                <th>author</th>
                <th>title</th>
                <th>size</th>
            </tr>

            <tr th:each="book : ${bookList}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.size}"></td>
            </tr>
        </table>

    </div>

</body>
</html>